openapi: 3.0.4
info:
  title: Domain and IP Pinger
  description: >-
    Pinger is a simple tool for checking if a URL is up. It returns a boolean
    value indicating whether the URL is up or not.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/pinger:
    post:
      summary: Ping Host Domain
      description: >-
        Pinger is a simple tool for checking if a URL is up. It returns a
        boolean value indicating whether the URL is up or not.
      operationId: pinger
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  host: google.com
                  numericHost: 2607:f8b0:4001:c6e::8a
                  alive: true
                  roundTrips: 3
                  packetLoss: 0
                  minMS: 0.652
                  avgMS: 0.6846666666666666
                  maxMS: 0.712
                  stdDev: 0.02478350706058811
                  times:
                    - 0.712
                    - 0.652
                    - 0.69
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                host:
                  type: string
                  description: The host name or public IP that you want to ping
                timeout:
                  type: integer
                  description: The timeout for the ping request in milliseconds
                retries:
                  type: integer
                  description: The number of ping retries to attempt
              required:
                - host
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  host: google.com
  retries: 1
